form {
    padding-top: 100px;
    padding-bottom: 100px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}