<div class = "global_offset"> 

  <div class = "floating-box">
    <img class = "image_in_box" src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" style="width:150px;height:150px;">
    <h4>Broj registriranih osoba: <span>{{pageStats?.numberOfPersons}}</span></h4>
  </div>

  
  <div class="floating-box">
    <img class = "image_in_box" src="http://www.myiconfinder.com/uploads/iconsets/256-256-8bb2d1c3b8a3a55d7a90dbe931a428fa.png" style="width:150px;height:150px;">
    <h4>Broj registriranih tvrtki: <span>{{pageStats?.numberOfCompanies}}</span></h4>
  </div>

  <div class = "floating-box">
    <img class = "image_in_box" src="https://cdn4.iconfinder.com/data/icons/devine_icons/Black/PNG/File%20Types/Defult%20Text.png" style="width:150px;height:150px;">
    <h4>Broj oglasa: <span>{{pageStats?.numberOfAdvertisements}}</span></h4>
  </div>
  


</div>
