.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

nav {
    text-align: center;
}
.jobList {
    padding-top:20px;
    margin: auto;
}

@media (min-width: 576px) {
    .jobList{
        max-width: 90%;
    }
}

.img-responsive {
    margin: auto;
}
  
@media( min-width: 768px) { 
  .vertical-align {
    display: flex;
    align-items: center;
    }
}
  
.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}
  
.panel-default>.panel-heading {
    background-color: #2c3e50;
    color: white;
}