<div class="jobList">

  <div *ngFor="let job of jobs" class="panel panel-default">
    <div class="panel-heading">
      <h3 *ngIf="job.owner.companyName" class="panel-title">{{ job.owner.companyName }}</h3>
      <h3 *ngIf="!job.owner.companyName" class="panel-title">{{ job.owner.name }}</h3>
    </div>
    <div class="panel-body">
      <div class="row vertical-align">
        <div class="col-sm-3">
          <img *ngIf="job.imagePath" src="{{ job.imagePath }}" alt="" class="img-responsive job-img">
          <img *ngIf="!job.imagePath" src="https://www.eply.com/wp-content/themes/eply_wp/images/img/user.svg" alt="" class="img-responsive job-img">
        </div>
        <div class="col-sm-9">
          <span class="lead">{{ job.name }}</span>
          <br>
          <p>{{ job.description }}</p>
          <a [routerLink]="['/poslovi', this.job.id]" class="btn btn-primary">Više</a>
        </div>
      </div>
    </div>
  </div>
  <h3>{{ warning }}</h3>

</div>