<div class="new-conv">
    <button class="btn btn-primary" (click)="newConversation()">Kreiraj novi razgovor</button>
  </div>
  <div class="list-group">
    <div href="#" class="list-group-item active">
      <h4 class="list-group-item-heading">Razgovori</h4>
    </div>
    <a style="cursor: pointer;" *ngFor="let conversation of conversations | reverse" (click)="openConversation(conversation.id)" class="list-group-item">
      <h5 class="list-group-item-heading">
        <span class="glyphicon glyphicon-envelope"></span>
        <span *ngIf="conversation.participants[0].name === currentUsername">{{ conversation?.participants[1]?.name }}</span>
        <span *ngIf="conversation.participants[0].name !== currentUsername">{{ conversation?.participants[0]?.name }}</span>
        <span *ngIf="conversation.advertisement"> <span class="glyphicon glyphicon-menu-right"></span> Oglas: {{ conversation?.advertisement?.name }}</span>
      </h5>
    </a>
  </div>
  <h3>{{ warning }}</h3>