.container {
    padding-top: 10px;
    padding-right: 40px;
}
h4 {
    font-size: 16px;
}
p {
    font-size: 12px;
}

.badge {
     margin-top: 7px;
}

.list-group-item.active {
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
}

.btn-primary {
    margin: 20px auto;
    padding: 10px 80px;
    text-align: center;
}

.new-conv {
    text-align: center;
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

span {
    margin-right: 5px;
}