<!DOCTYPE html>
<html>
<font size="4">
Poštovani korisniče <b>${user.name}</b>,<br>
<br>
Obaviještavamo Vas da je za Vašu tvrtku dodan novi osvrt.
<br>
Ukoliko želite pogledati osvrt molimo posjetite <a href="http://localhost:8080/my-team">FindJob aplikaciju</a>!<br>
<br>
Hvala!<br>
</font>
</html>