<!DOCTYPE html>
<html>
<font size="4">
Poštovani korisniče <b>${user.name}</b>,<br>
<br>
Obaviještavamo vas da je Vaš račun suspendiran do ${date}.<br>
Razlog :<br>
${reason}<br>
<br>
FindJob tim!<br>
</font>
</html>