<!DOCTYPE html>
<html>
<font size="4">
Poštovani korisniče <b>${user.name}</b>,<br>
<br>
Želimo Vam dobrodošlicu i ugodno korištenje aplikacije FindJob!<br>
Nadamo se da ćemo Vam pomoći da upravo ovdje pronađete posao iz snova!<br>
<br>
FindJob tim!<br>
</font>
</html>