<div class="content">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label for="message">Nova poruka: </label>
      <textarea name="message" id="msg" rows="6" class="form-control" ngModel required minlength="2"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Pošalji</button>
  </form>

  <div *ngFor="let message of conversation?.messages | reverse" class="panel panel-default">
    <div class="panel-heading">{{ message?.sender?.name }}
      <span class="desno">{{ message?.sendDate | date: 'dd.MM.yyyy' }}</span>
    </div>
    <div class="panel-body">
      {{ message?.text }}
    </div>
  </div>

</div>