.content {
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.panel-heading {
    background-color: #3e5871;
    color: white;
}
.panel-body {
    /* background-color: rgb(255, 250, 240); */
    background-color: rgb(240, 240, 240)
}

.desno {
    float: right;
}
.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

form {
    padding-bottom: 20px;
}