.navigation {
    padding-top: 70px;
}

.nav-pills {
    background-color:#eeeeee; 
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2c3e50;
}

.nav>li>a  {
    color: #2c3e50;
}