<div class="navigation">
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" routerLinkActive="active"><a routerLink="podaci">Podaci</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="moji-oglasi">Moji oglasi</a></li>
    <li role="presentation" routerLinkActive="active"><a routerLink="razgovori">Poruke</a></li>
  </ul>
</div>

<router-outlet></router-outlet>

