<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                <div class="form-group">
                    <label for="username">Korisničko ime</label>
                    <input type="text" id="username" name="username" class="form-control" ngModel required>
                </div>
                <div class="form-group">
                    <label for="password">Lozinka (minimalno 8 znakova)</label>
                    <input type="password" id="password" name="password" class="form-control" ngModel required minlength="8">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" ngModel required email>
                </div>
                <div class="form-group">
                    <label for="oib">OIB</label>
                    <input type="text" id="oib" name="oib" class="form-control" ngModel minlength="11" maxlength="11">
                </div>
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input type="text" id="address" name="address" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Telefonski broj</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName">Ime</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="lastName">Prezime</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Datum rođenja</label>
                <input type="Date" id="dateOfBirth" name="dateOfBirth" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="cv">Životopis</label>
                <textarea name="cv" id="cv" rows="10" class="form-control" ngModel minlength="10"></textarea>
            </div>
            <div class="form-group">
                <label for="category">Područje djelatnosti</label>
                <select [ngModel]="null" name="category" id="categorySelect" class="form-control">
                    <option class="jobtypes" *ngFor="let jobType of jobTypes" [ngValue]="jobType">{{ jobType?.jobType | lowercase }}</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
    </div>
</div>