<div class="global-offset">

    <div class = "container list-group">
    <div class="row">
        <div class="col-md-12">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <input type="text" class="form-control" name="keyword" placeholder="Pretraži..." ngModel>
            </div>
            <button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-search"></span>  Pretraži</button>
          </form>
        </div>
      </div>
    </div>

  <div class="container list-group-justified">
    <div *ngFor="let user of users">
    <div class= "row list-group-item list-group-item-action flex-column align-items-center top-buffer">
        <!--profile picture-->
        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <img src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" class="img-circle profile-picture-column">
        </div>-->
        <!--username-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <h5><a href="">{{user.name}}</a></h5>
        </div>
        <!--user data-->
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
          <h5>{{user.eMail}}</h5>
        </div>
        <!--user status-->
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
          <h5><span [ngClass]="(user.userStatus === 'AKTIVAN')?'status-active':'status-banned'">{{user.userStatus}}</span></h5>
        </div>
        <!--date of registration-->
        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
          <h5>Datum registracije: <span>{{user.registrationDate | date: 'dd.MM.yyyy'}}</span></h5>
        </div>
        <!--buttons-->
        <div class="btn-group col-lg-3 col-md-3 col-sm-6 col-xs-6" style="margin:0">
          <div class="pull-right">
            <button *ngIf="user.id !== userSuspending?.id && user.userStatus === 'AKTIVAN'" class="btn btn-warning" (click)="onSuspend(user)">Suspendiraj</button>
            <button *ngIf="user.userStatus !== 'AKTIVAN'" class="btn btn-success" (click)="removeSuspend(user.id)">Makni suspenziju</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Deaktiviraj</button>
          </div>
        </div>

    </div>

    <!--(click)="suspendUser(suspendReason.value, expireDate.value)"-->
    <ng-template [ngIf]="user.id === userSuspending?.id"><form class="suspend" (ngSubmit)="suspendUser(suspend)" #suspend="ngForm">
    <div class="form-group"><div class="row">
        <label for="expDate">Datum isteka suspenzije:</label>
        <input type="Date" id="expDate" name="expDate" class="form-control" required ngModel>
    </div></div>
    <div class="form-group"><div class="row">
      <label for="description">Razlog suspenzije:</label>
      <input name="description" id="description" class="form-control" required ngModel>
    </div></div>
    <div class="btn-group-justified"><div class="row">
      <button type="submit" class="btn btn-warning" [disabled]="!suspend.valid" >Suspendiraj</button>
      <button type="button" (click)="cancelSuspend()" class="btn btn-danger">Odustani</button>
    </div></div>
  </form>
  </ng-template>

  </div>
  </div>

  <nav aria-label="..." class="row col-lg-12">
    <ul class="pager">
      <li [ngClass]="{disabled : isFirst}"><a (click)="onPrev()">Previous</a></li>
      <li [ngClass]="{disabled : isLast}"><a (click)="onNext()">Next</a></li>
    </ul>
</nav>


</div>
