.global-offset {
    padding-top: 70px;
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

.profile-picture-column {
    height: 40px;
    width: 40px;
    display: block;

}

.btn-square {
    height: 28px;
    width: 28px;
    border-radius: 5px;
}

.can {
    margin-left: -7px;
    margin-bottom: 5px;
}

.user-item {
    margin-bottom: 10px;
}

h5 {
    text-align: center;
}

.top-buffer { 
    margin-top:7px; 
}

.suspend {
    margin-top: 10px;
    margin-bottom: 10px;
}

.status-active {
    color: rgb(0, 223, 0);
}
.status-banned {
    color: red;
}