<div class="filter">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <input ngModel name="keyword" type="text" id="keywordsInput" class="form-control" placeholder="Unesite ključne riječi">
        </div>
        <div class="form-group">
          <select [ngModel]="null" name="category" id="categorySelect" class="form-control">
            <option [ngValue]="null">Sve kategorije</option>
            <option class="jobtypes" *ngFor="let jobType of jobTypes" [ngValue]="jobType">{{ jobType?.jobType | lowercase }}</option>
          </select>
        </div>
        <div class="form-group">
          <select [ngModel]="'0'" name="rating" id="ratingSelect" class="form-control">
            <option value="0">Bilo koja ocjena</option>
            <option value="1">>1.0</option>
            <option value="2">>2.0</option>
            <option value="3">>3.0</option>
            <option value="4">>4.0</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary form-control">Pretraži</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let company of companies; let i = index" class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img *ngIf="company.logoName" src="{{ company.logoName }}" alt="" class="img-responsive companyImage">
        <img *ngIf="!company.logoName" src="http://ataccama.pracevpraze.cz/images/no_avatar_company.png" alt="" class="img-responsive companyImage">
        <div class="caption">
          <h4>{{ company.companyName }}</h4>
          <p>
            <a [routerLink]="['/tvrtke', this.company.id]" class="btn btn-primary">Više</a>
          </p>
        </div>
      </div>
      <div *ngIf="(i+1)%3 == 0" class="clearfix visible-md-block"></div>
    </div>
  </div>
</div>



<nav aria-label="...">
  <ul class="pager">
    <li style="cursor: pointer;" [ngClass]="{disabled : isFirst}">
      <a (click)="onPrev()">Previous</a>
    </li>
    <li style="cursor: pointer;" [ngClass]="{disabled : isLast}">
      <a (click)="onNext()">Next</a>
    </li>
  </ul>
</nav>