.filter {
    margin: auto;
    padding-top: 70px;
}

@media (min-width: 576px) {
    .filter{
        max-width: 70%;
    }
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
  }


  nav {
      text-align: center;
  }
  .container {
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.caption {
    text-align: center;
}


.btn {
    background-color: #f27935;
    border: #f27935;
}

.companyImage { 
    max-height: 110px;
    padding: 10px;
}

#categorySelect, .jobtypes {
    text-transform: capitalize;
}