<div class="container">
  <h1>{{ job?.name }}</h1>
  <div class="row">
    <div class="col-md-2">
      <h4>
        <span class="glyphicon glyphicon-map-marker right" aria-hidden="true"></span>Zagreb</h4>
    </div>
    <div class="col-md-4">
      <h4>
        <span class="glyphicon glyphicon-time right" aria-hidden="true"></span>
        <span class="titles">Rok prijave:</span> {{ job?.expirationDate | date: 'dd.MM.yyyy'}}</h4>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">O oglašivaču: </h3>
    </div>
    <div class="panel-body">
      <h4 *ngIf="!job?.owner?.firstName" class="company_name">
        <span class="titles">Ime tvrtke: </span>
        <a (click)="onCompanyName()">{{ job?.owner?.companyName }}</a>
      </h4>
      <h4 *ngIf="job?.owner?.firstName" class="company_name">
        <span class="titles">Korisnik: </span> {{ job?.owner?.firstName  }} {{ job?.owner?.lastName }}</h4>
      <hr>
      <h4>
        <span class="titles">Kontakt: </span> {{ job?.owner.eMail }}</h4>
    </div>
  </div>

  <div *ngIf="job?.owner?.name && job?.owner?.cv" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">CV: </h3>
    </div>
    <div class="panel-body">
      <h4>{{ job?.owner.cv }}</h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Opis posla: </h3>
    </div>
    <div class="panel-body">
      <h4>{{ job?.description }}</h4>
    </div>
  </div>

  <button type="button" class="btn btn-primary btn-lg" (click)="newConversation()">Kontaktiraj oglašivača</button>
</div>
