.container {
    padding-top: 50px;
}
.btn {
    background-color: #f27935;
    border: 1px solid #f27935;
}

.right {
    padding-right: 10px;
}

.panel {
    margin-top: 20px;
}
h4 {
    font-weight: 400;
    font-size: 16px;
}

.titles {
        font-weight: 500;
}
