<div class="global-offset">
<h1 class="center"> {{ company?.companyName }}</h1>
<div class="panel panel-default about">
        <div class="panel-heading about-heading">O tvrtki: </div>
        <div class="panel-body">
            <h4><span class="textLeft">Adresa: </span> {{ company?.address }}</h4>
            <hr>
            <h4><span class="textLeft">Telefon: </span> {{ company?.phoneNumber }}</h4>
            <hr>
            <h4><span class="textLeft">Email: </span> {{ company?.eMail }}</h4>
            <hr>
            <h4><span class="textLeft">Područje djelatnosti:</span> {{ company?.jobType.jobType }}</h4>
            <hr>
            <h4><span class="textLeft">Opis:</span></h4>
            <h4>{{ company?.description }}</h4>
        </div>
      </div>
      <div class="recension-box right">
      
          <ng-template [ngIf]="authService.isLoggedIn() && isNotSameUser()">
            <form (ngSubmit)="addNewReview(review)" #review="ngForm">
              <div class="row">
                <div class="stars col-lg-10 col-md-10 col-sm-10 col-xs-9 pull-left">
                  <h4> 
                  <span (click)="rate(1)" (mouseenter) ="setHover(1)"  (mouseleave) ="resetStars()" [ngClass]="(fullStars[0]==true || hoverStars[0]==true)?'glyphicon glyphicon-star':'glyphicon glyphicon-star-empty'"></span>
                  <span (click)="rate(2)" (mouseenter) ="setHover(2)"  (mouseleave) ="resetStars()" [ngClass]="(fullStars[1]==true || hoverStars[1]==true)?'glyphicon glyphicon-star':'glyphicon glyphicon-star-empty'"></span>
                  <span (click)="rate(3)" (mouseenter) ="setHover(3)"  (mouseleave) ="resetStars()" [ngClass]="(fullStars[2]==true || hoverStars[2]==true)?'glyphicon glyphicon-star':'glyphicon glyphicon-star-empty'"></span>
                  <span (click)="rate(4)" (mouseenter) ="setHover(4)"  (mouseleave) ="resetStars()" [ngClass]="(fullStars[3]==true || hoverStars[3]==true)?'glyphicon glyphicon-star':'glyphicon glyphicon-star-empty'"></span>
                  <span (click)="rate(5)" (mouseenter) ="setHover(5)"  (mouseleave) ="resetStars()" [ngClass]="(fullStars[4]==true || hoverStars[4]==true)?'glyphicon glyphicon-star':'glyphicon glyphicon-star-empty'"></span>
                  </h4>
                </div>
                <button type="submit" [disabled]="rateStars<1 || !review.valid" class="btn btn-success btn-filter col-lg-2 col-md-2 col-sm-2 col-xs-3 pull-right" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj</button>
              </div>

            <div  class="form-group row">
              <textarea #reviewDescription class="form-control" rows="5" name="description" id="description" placeholder="Napišite recenziju" required ngModel></textarea>
            </div>
          </form>
          </ng-template>
    
         <!--  <div *ngFor="let companyReview of companyReviews"
              href="#" class="list-group-item list-group-item-action flex-column align-items-start"> -->
            <div *ngFor="let companyReview of companyReviews | reverse">
              <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="glyphicon glyphicon-star star"></span> {{companyReview?.grade}}</div>
                    <div class="panel-body">
                        {{ companyReview?.description }}
                    </div>
                </div>
              </div>
            </div>
    
        </div>
</div>