.global-offset {
    padding-top: 70px;
}

.recension-box {
    padding-top: 20px;
    padding-left: 15px;
}
.star {
    color: #f27935;
}

.stars {
    margin-top: -3px;
    color: #f27935;
}

.add-button {
    margin-top:-12px;
    margin-bottom: 20px;
}

.panel-default>.panel-heading {
    background-color: #2c3e50;
    color: white;
    font-size: 16px;
}

.right {
    padding-right: 15px;
}

.about {
    margin-top: 30px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
}
.textLeft {
        font-weight: 600;
        padding-right: 5px;
}
