<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">FindJob</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/poslovi">Poslovi</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/tvrtke">Tvrtke</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="authService.isLoggedIn()">
          <li routerLinkActive="active">
            <a *ngIf="isAdmin" routerLink="/administrator">Admin</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="novi-oglas">Predaj oglas</a>
          </li>
          <li routerLinkActive="active" style="cursor: pointer;">
            <a (click)="myPage()">
              <span class="glyphicon glyphicon-user"></span> {{ currentUser?.name }}</a>
          </li>
          <li style="cursor: pointer;">
            <a (click)="logout()">Odjava</a>
          </li>
        </ng-template>

        <ng-template [ngIf]="!authService.isLoggedIn()">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span> Registracija
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/registriraj-osobu">Kao korisnik</a>
              </li>
              <li>
                <a routerLink="/registriraj-tvrtku">Kao tvrtka</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/prijava">
              <span class="glyphicon glyphicon-log-in"></span> Prijava</a>
          </li>
        </ng-template>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>