.global-offset {
    padding-top: 70px;
}

.btn-square {
    height: 27px;
    width: 27px;
    border-radius: 5px;
}

.can {
    margin-left: -7px;
}

.star {
    color: #f27935;
}

.panel-default>.panel-heading {
    background-color: #2c3e50;
    color: white;
    font-size: 16px;
}

.italic { 
    font-style: italic; 
}