<div class="global-offset">

    <div *ngFor="let review of reviews">
        <div class="panel panel-default">
            <div class="panel-heading">
              <div class = "row">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-star star"></span><span> {{review.grade}}</span></div>
                
                  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><span>Autor recenzije: <span class="italic">{{review.author.name}}</span></span></div>
                  
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><div class="pull-right">
                  <button class="btn btn-danger btn-square" (click)="deleteReview(review.id)"><span class="glyphicon glyphicon-remove can" aria-hidden="true"></span></button>
                  </div></div>
            </div>
            </div>
            <div class="row"> <div class="col-lg-12">
            <div class="panel-body">
                {{ review.description }}
                
            </div></div></div>
        </div>

    </div>

    <nav aria-label="...">
      <ul class="pager">
        <li [ngClass]="{disabled : isFirst}"><a (click)="onPrev()">Previous</a></li>
        <li [ngClass]="{disabled : isLast}"><a (click)="onNext()">Next</a></li>
      </ul>
    </nav>

</div>
  