<div class="filter">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <input ngModel name="keyword" type="text" id="keywordsInput" class="form-control" placeholder="Unesite ključnu riječ">
        </div>
        <div class="form-group">
          <select [ngModel]="null" name="category" id="categorySelect" class="form-control">
            <option [ngValue]="null">Sve kategorije</option>
            <option class="jobtypes" *ngFor="let jobType of jobTypes" [ngValue]="jobType">{{ jobType?.jobType | lowercase }}</option>
          </select>
        </div>
        <div class="form-group">
          <select [ngModel]="null" name="adType" id="adTypeSelect" class="form-control">
            <option value="null">Sve</option>
            <option value="TRAŽIM">Tražim posao</option>
            <option value="NUDIM">Nudim posao</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary form-control">Pretraži</button>
      </form>
    </div>
  </div>
</div>

<div class="jobList">
  <div *ngFor="let job of jobs" class="panel panel-default">
    <div class="panel-heading">
      <h3 *ngIf="job.owner.companyName" class="panel-title">{{ job.owner.companyName }}</h3>
      <h3 *ngIf="!job.owner.companyName" class="panel-title">{{ job.owner.name }}</h3>
    </div>
    <div class="panel-body">
      <div class="row vertical-align">
        <div class="col-sm-3">
          <img *ngIf="job.imagePath" src="{{ job.imagePath }}" alt="" class="img-responsive job-img">
          <img *ngIf="!job.imagePath" src="https://www.eply.com/wp-content/themes/eply_wp/images/img/user.svg" alt="" class="img-responsive job-img">
        </div>
        <div class="col-sm-9">
          <span class="lead">{{ job.name }}</span>
          <br>
          <p>{{ job.description }}</p>
          <a [routerLink]="['/poslovi', this.job.id]" class="btn btn-primary">Više</a>
        </div>
      </div>
    </div>
  </div>

  <nav aria-label="...">
    <ul class="pager">
      <li style="cursor: pointer;" [ngClass]="{disabled : isFirst}">
        <a (click)="onPrev()">Previous</a>
      </li>
      <li style="cursor: pointer;" [ngClass]="{disabled : isLast}">
        <a (click)="onNext()">Next</a>
      </li>
    </ul>
  </nav>