.filter {
    margin: auto;
    padding-top: 70px;
}

.job-img {
    max-width: 140px;
    max-height: 140px;
    padding: 10px;
}

@media (min-width: 576px) {
    .filter{
        max-width: 70%;
    }
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

nav {
    text-align: center;
}
.jobList {
    padding-top:20px;
    margin: auto;
}

@media (min-width: 576px) {
    .jobList{
        max-width: 90%;
    }
}

.img-responsive {
    margin: auto;
}
  
@media( min-width: 768px) { 
  .vertical-align {
    display: flex;
    align-items: center;
    }
}
  
.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}
  
.panel-default>.panel-heading {
    background-color: #2c3e50;
    color: white;
}

#categorySelect, .jobtypes {
    text-transform: capitalize;
}
  