form {
    padding-top: 100px;
    padding-bottom: 100px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border: 1px solid red;
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

#categorySelect, .jobtypes {
    text-transform: capitalize;
}