.global-offset {
    padding-top: 70px;
}

.job-list {
    padding-top: 30px;
}
.job-img {
    max-width: 140px;
    max-height: 140px;
    padding: 10px;
}

.img-responsive {
    margin: auto;
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

.panel-default>.panel-heading {
    background-color: #2c3e50;
    color: white;
}

.btn-square {
    height: 29px;
    width: 29px;
    border-radius: 5px;
    align-content: center;
    display: inline-block;
}

.can {
    margin-left: -7px;
    margin-bottom: 5px;
}


