<div class="global-offset">

  <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group">
                  <select [ngModel]="'SVI'" name="adType" id="adTypeSelect" class="form-control">
                      <option value="SVI">Svi</option>
                      <option value="TRAŽIM">Tražim posao</option>
                      <option value="NUDIM">Nudim posao</option>
                  </select>
              </div>
              <div class="form-group">
                  <input type="text" class="form-control" name="keyword" placeholder="Pretraži..." ngModel>
              </div>
              <button type="submit" class="btn btn-primary form-control"><span class="glyphicon glyphicon-search"></span>  Pretraži</button>
            </form>
          </div>
        </div>

    <div class="row job-list">

        <div
        *ngFor="let job of jobs"
        class="panel panel-default">
          <div class="panel-heading">
          <h3 *ngIf="job.owner.companyName" class="panel-title">{{ job.owner.companyName }}</h3>
          <h3 *ngIf="!job.owner.companyName" class="panel-title">{{ job.owner.name }}</h3>
        </div>
        <div class="panel-body">
          <div class="row vertical-align">
            <div class="col-sm-3 ">
              <img *ngIf="job.imagePath" src="{{ job.imagePath }}" alt="" class="img-responsive job-img">
              <img *ngIf="!job.imagePath" src="https://www.eply.com/wp-content/themes/eply_wp/images/img/user.svg" alt="" class="img-responsive job-img">
            </div>
            <div class="col-sm-9">
              <span class="lead">{{ job.name }}</span><br>
              <p>{{ job.description }}</p>
            <a [routerLink]="['/poslovi', this.job.id]" class="btn btn-primary">Pregledaj oglas </a>
            <button (click)="onDelete(this.job.id)" class="btn btn-danger btn-square pull-right"><span class="glyphicon glyphicon glyphicon-trash can" aria-hidden="true"></span></button>
            </div>
          </div>
        </div>
        </div>
      
        
      </div>

      <nav aria-label="..." class="row col-lg-12">
          <ul class="pager">
            <li [ngClass]="{disabled : isFirst}"><a (click)="onPrev()">Previous</a></li>
            <li [ngClass]="{disabled : isLast}"><a (click)="onNext()">Next</a></li>
          </ul>
      </nav>

  </div>
</div>
