.up {
    padding-top: 40px;
}

.down {
    padding-top: 20px;
    padding-bottom: 60px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.btn-primary, .btn-primary:hover {
    background-color: #f27935;
    border-color: #f27935;
}

:host >>> .completer-input {
    width: 100% !important;
    position: relative !important;
    border: none !important;
    outline: none !important;
}

:host >>> .completer-dropdown {
    width: 100% !important;
    position: relative !important;
}