<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <form class="up" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <ng-template [ngIf]="!haveReceiver">
        <div class="form-group">
          <ng2-completer class="form-control" name="user" [(ngModel)]="userString" placeholder="Odaberite korisnika" [datasource]="dataService"
            [minSearchLength]="1" [pause]="500"></ng2-completer>
        </div>
        <h4>{{ message }}</h4>
      </ng-template>
      <div class="form-group">
        <label for="message">Tekst poruke</label>
        <textarea name="message" id="message" rows="10" class="form-control" ngModel required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Pošalji</button>

    </form>

  </div>
</div>