<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="form-group">
                <label for="adName">Naziv oglasa</label>
                <input type="text" id="adName" name="adName" class="form-control" ngModel required>
            </div>
            <div class="form-group">
                <label for="description">Opis oglasa</label>
                <textarea name="description" id="description" rows="10" class="form-control" ngModel required></textarea>
            </div>
            <div class="form-group">
                <label for="imagePath">URL slike</label>
                <input type="text" id="imagePath" name="imagePath" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="expDate">Datum isteka</label>
                <input type="Date" id="expDate" name="expDate" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="category">Područje djelatnosti</label>
                <select [ngModel]="null" name="category" id="categorySelect" class="form-control" required>
                    <option class="jobtypes" *ngFor="let jobType of jobTypes" [ngValue]="jobType">{{ jobType?.jobType | lowercase }}</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
    </div>
</div>