<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                <div class="form-group">
                    <label for="eMail">Email</label>
                    <input type="email" id="eMail" name="eMail" placeholder="{{ user?.eMail }}" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="oib">OIB</label>
                    <input type="text" id="oib" name="oib" placeholder="{{ user?.oib }}" class="form-control" ngModel minlength="11" maxlength="11">
                </div>
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input type="text" id="address" name="address" placeholder="{{ user?.address }}" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Telefonski broj</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="{{ user?.phoneNumber }}" class="form-control" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label for="companyName">Ime tvrtke</label>
                <input type="text" id="companyName" name="companyName" placeholder="{{ user?.companyName }}" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="description">Opis tvrtke</label>
                <textarea name="description" id="description" rows="10" placeholder="{{ user?.description }}" class="form-control" ngModel minlength="10"></textarea>
            </div>
            <div class="form-group">
                <label for="logoName">URL loga tvrtke</label>
                <input type="text" id="logoName" name="logoName" placeholder="{{ user?.logoName }}" class="form-control" ngModel>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
    </div>
</div>