.global-offset {
    padding-top: 70px;
}

.btn-square {
    height: 28px;
    width: 28px;
    border-radius: 5px;
}

.can {
    margin-left: -7px;
    margin-bottom: 5px;
}

.top-buffer { 
    margin-top:7px; 
}