<div class="global-offset">
  <div class="container">

        <div class="row">
            <form>    
          <div class="col-lg-11">
            <input type="text" #newJobtypeInput class="form-control" name="newJobtype" id="newJobtypeInput" placeholder="Dodaj novo područje djelatnosti" required>
          </div>
          <div class="col-lg-1">
            <button (click)="addJobtype(newJobtypeInput.value)" type="button" class="btn btn-success btn-filter"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj</button>
          </div>
            </form>
        </div>




    <!--podrucja djelatnosti-->

      <div *ngFor= "let jobtype of jobtypes">

          <a class="list-group-item row top-buffer">{{jobtype.jobType}}
              <button class="btn btn-danger btn-square pull-right" (click)="deleteJobtype(jobtype.jobType)"><span class="glyphicon glyphicon glyphicon-trash can" aria-hidden="true"></span></button>
            </a>

      </div>
  </div>
</div>
