<div class="row">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                <div class="form-group">
                    <label for="eMail">Email</label>
                    <input type="email" id="eMail" name="eMail" placeholder="{{ user?.eMail }}" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="oib">OIB</label>
                    <input type="text" id="oib" name="oib" placeholder="{{ user?.oib }}" class="form-control" ngModel minlength="11" maxlength="11">
                </div>
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input type="text" id="address" name="address" placeholder="{{ user?.address }}" class="form-control" ngModel>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Telefonski broj</label>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="{{ user?.phoneNumber }}" class="form-control" ngModel>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName">Ime</label>
                <input type="text" id="firstName" name="firstName" placeholder="{{ user?.firstName }}" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="lastName">Prezime</label>
                <input type="text" id="lastName" name="lastName" placeholder="{{ user?.lastName }}" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Datum rođenja</label>
                <input type="Date" id="dateOfBirth" name="dateOfBirth" placeholder="{{ user?.dateOfBirth }}" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label for="cv">Životopis</label>
                <textarea name="cv" id="cv" placeholder="{{ user?.cv }}" rows="10" class="form-control" ngModel minlength="10"></textarea>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
    </div>
</div>