<div class = "global_offset">
    <div class="container">
        <div class="row">
                <ul class="nav nav-pills nav-justified">
                    <li routerLinkActive="active"><a routerLink="admin-pregled" href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><i class="fa fa-fw"></i> Statistika</a></li>
                    <li routerLinkActive="active"><a routerLink="admin-recenzije"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><i class="fafa-fw"></i> Recenzije</a></li>
                    <li routerLinkActive="active"><a routerLink="admin-korisnici"><span class="glyphicon  glyphicon-user" aria-hidden="true"></span><i class="fa fa-fw"></i> Korisnici</a></li>
                    <li routerLinkActive="active"><a routerLink="admin-kategorije"><span class="glyphicon  glyphicon-list-alt" aria-hidden="true"></span><i class="fa fa-fw"></i> Područja djelatnosti</a></li>
                    <li routerLinkActive="active"><a routerLink="admin-oglasi"><span class="glyphicon  glyphicon-book" aria-hidden="true"></span><i class="fa fa-fw"></i> Oglasi</a></li>
                </ul>
                <router-outlet></router-outlet>
        </div>
    </div>
</div>