<div class="glavni">
  <h3>Korisnički podaci:</h3>
  <hr>
  <p>
    <span>Korisničko ime:</span> {{ user?.name }}</p>
  <hr>
  <p>
    <span>E-mail:</span> {{ user?.eMail }}</p>
  <hr>
  <p>
    <span>OIB:</span> {{ user?.oib }}</p>
  <hr>
  <p>
    <span>Adresa:</span> {{ user?.address }}</p>
  <hr>
  <p>
    <span>Telefonski broj:</span> {{ user?.phoneNumber }}</p>
  <hr>
  <p>
    <span>Datum registracije:</span> {{ user?.registrationDate | date: 'dd.MM.yyyy' }}</p>
  <hr>
  <p>
    <span>Korisnički status:</span> {{ user?.userStatus }}</p>
  <hr>

  <ng-template [ngIf]="person">
    <h3>Podaci osobe:</h3>
    <hr>
    <p>
      <span>Ime:</span> {{ user?.firstName }}</p>
    <hr>
    <p>
      <span>Prezime:</span> {{ user?.lastName }}</p>
    <hr>
    <p>
      <span>Datum rođenja:</span> {{ user?.dateOfBirth | date: 'dd.MM.yyyy' }}</p>
    <hr>
    <p>
      <span>Životopis:</span> {{ user?.cv }}</p>
    <hr>
    <p>
      <span>Kategorija:</span> {{ user?.areaOfInterest?.jobType }}</p>
    <hr>
  </ng-template>
  <ng-template [ngIf]="!person">
    <h3>Podaci tvrtke:</h3>
    <hr>
    <p>
      <span>Ime tvrtke:</span> {{ user?.companyName }}</p>
    <hr>
    <p>
      <span>Opis tvrtke:</span> {{ user?.description }}</p>
    <hr>
    <p>
      <span>Logo tvrtke:</span> {{ user?.logoName }}</p>
    <hr>
    <p>
      <span>Kategorija:</span> {{ user?.jobType?.jobType }}</p>
    <hr>
  </ng-template>
  <button class="btn btn-primary" (click)="editUser()">Uredi podatke</button>
</div>