.container {
    padding-top: 30px;
    padding-right: 40px;
}

span {
    font-size: 16px;
    font-weight: 500;
}

.btn-primary {
    background-color: #f27935;
    border:3px solid #f27935;
    
}

.btn-primary:focus {
    background-color: #2c3e50;
}

.glavni {
    padding-bottom: 80px;
    padding-top: 20px;
}